.help-hero {
    display: flex;
width: 80%;
padding: var(--spacing-8, 2rem) var(--spacing-6, 1.5rem);
flex-direction: column;
align-items: center;
gap: var(--spacing-0, 0rem);
border-radius: var(--spacing-12, 3rem);
background: var(--color-background-menu-menu-item-hover, rgba(255, 255, 255, 0.05));

/* Shadows/Overlay/Light */
box-shadow: 0px 2px 4px 0px rgba(18, 18, 23, 0.04), 0px 5px 8px 0px rgba(18, 18, 23, 0.04), 0px 10px 18px 0px rgba(18, 18, 23, 0.03), 0px 24px 48px 0px rgba(18, 18, 23, 0.03), 0px 0px 0px 1px rgba(18, 18, 23, 0.10);
margin-bottom: 2rem;
}
.help-section {
    display: inline-flex;
padding: var(--spacing-6, 1.5rem);

flex-direction: column;
align-items: flex-start;
gap: 1rem;
border-radius: var(--spacing-12, 3rem);

background: var(--color-background-menu-menu-item-hover, rgba(255, 255, 255, 0.05));
box-shadow: 0px 2px 4px 0px rgba(18, 18, 23, 0.04), 0px 5px 8px 0px rgba(18, 18, 23, 0.04), 0px 10px 18px 0px rgba(18, 18, 23, 0.03), 0px 24px 48px 0px rgba(18, 18, 23, 0.03);
backdrop-filter: blur(16px);
}
.help-section-1, .help-section-2, .help-section-3 {
    display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: row;
}
.img {
    width: fit-content;
height: fit-content;background: url(<path-to-image>), lightgray 50% / cover no-repeat, var(--color-background-cursor-black, #121217);

}
.img-section {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex: 50%;
    
}
.section-text {
    display: flex;
    flex-direction: column;
    border-radius: 0rem var(--spacing-12, 3rem) 0rem 0rem;
background: var(--color-white-50, rgba(255, 255, 255, 0.05));
padding: 6.6875rem 2rem 6.6875rem 2.0625rem;
height: 100%;
justify-content: center;
align-items: center;
}