.signin-hero {
    display: flex;
width: 80%;
padding: var(--spacing-8, 2rem) var(--spacing-6, 1.5rem);
flex-direction: column;
align-items: center;
gap: var(--spacing-0, 0rem);
border-radius: var(--spacing-12, 3rem);
background: var(--color-background-menu-menu-item-hover, rgba(255, 255, 255, 0.05));

/* Shadows/Overlay/Light */
box-shadow: 0px 2px 4px 0px rgba(18, 18, 23, 0.04), 0px 5px 8px 0px rgba(18, 18, 23, 0.04), 0px 10px 18px 0px rgba(18, 18, 23, 0.03), 0px 24px 48px 0px rgba(18, 18, 23, 0.03), 0px 0px 0px 1px rgba(18, 18, 23, 0.10);
margin-top: 2rem;
}
.signin-section {
    display: flex;
width: 25rem;
padding: var(--spacing-6, 1.5rem);
flex-direction: column;
align-items: center;
gap: var(--spacing-6, 1.5rem);
    border-radius: var(--spacing-6, 1.5rem);
    background: var(--color-background-accent-gray-md, rgba(255, 255, 255, 0.05));
}
.signIn-img {
   
    width: 10.8125rem;
    height: 10.8125rem;
}

.signin-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: var(--spacing-6, 1.5rem);
    width: 100%;
}
.email-section , .password-section {
    display: flex;
padding: var(--spacing-0, 0rem);
width: 100%;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: var(--spacing-2, 0.5rem);
align-self: stretch;
}
.input-label {
    display: flex;
padding: var(--spacing-0, 0rem);
align-items: flex-start;
gap: var(--spacing-1, 0.25rem);
align-self: stretch;
color: #ffffff;
}
.input-box {
    width: 100%;
    display: flex;
padding: var(--spacing-2, 0.5rem);
align-items: flex-start;
gap: var(--spacing-0, 0rem);
align-self: stretch;
border-radius: var(--radius-md, 0.5rem);
border: 1px solid var(--color-border-input-normal, rgba(255, 255, 255, 0.20));
background: var(--color-background-input-normal, rgba(0, 0, 0, 0.00));

/* Shadows/xs */
box-shadow: 0px 1px 2px 0px rgba(18, 18, 23, 0.05);
}

.forgot-password {
    display: flex;
padding: var(--spacing-0, 0rem);
align-items: flex-start;
gap: var(--spacing-0, 0rem);
align-self: stretch;
color : #FFFFFF80;
border-radius: var(--radius-none, 0rem);
}
.sign-in-submit {
    display: flex;
    width: 100%;
    align-self: stretch;
}
.submit-btn {
    width: 100%;
    display: flex;
padding: var(--spacing-2, 0.5rem) var(--spacing-3, 0.75rem);
justify-content: center;
align-items: center;
gap: var(--spacing-1, 0.25rem);
align-self: stretch;
    border-radius: var(--radius-3xl, 22.5rem);
background: var(--color-background-button-primary-gray-normal, #FFF);
}
.sign-in-page {
    color: var(--color-text-secondary, rgba(255, 255, 255, 0.50));
text-align: center;

/* text-sm/leading-5/font-medium */
font-family: "Cabinet Grotesk";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
color: white;
}
